.my{
  box-sizing: border-box;
}
.my-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: red;
  }
  .my-header span{
    font-size: 44px;
  }
  /* 左右滑动 */
  .my-swiper{
    display: flex;
    margin-top: 30px;
    padding: 20px 12px;
  }
  .my-swiper .swiper-slide .swiper-icon{
    width: 80px;
    height: 80px;
    background: #F83D33;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    margin: 0 auto;
  }
  .my-swiper .swiper-slide .swiper-icon span{
    color: white;
    font-size: 40px;
  }
  .my-swiper .swiper-slide .swiper-last{
    background: #F2F2F2;
  }
  .my-swiper .swiper-slide .swiper-icon  .icon-sanheng{
    color: #C7C7C7;
  }
  .my-swiper .swiper-slide .swiper-icon-name{
      font-size: 24px;
      text-align: center;
      color: #696969;
      padding: 20px 0;
  }



/* 本地音乐 */
  .my-list{
    width: 100%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 10px solid #e6e6e6;
  }
  .my-list ul li{
    display: flex;
    align-items: center;
    padding: 0 30px;
  }
  .my-list ul li span{
    font-size: 44px;
    color: #363636;
    padding: 20px 25px 20px 0;
  }
  .my-list ul li .local-music{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0;
  }
  .my-list ul li .local-music p{
    color: #454545;
    font-size: 28px;
  }
  .my-list ul li .local-music .list-icon-right{
    font-size: 26px;
    color: #CDCDCD;
  }
  .my-list ul li .local-music .list-icon-right b{
    font-size: 26px;
    margin-left: 10px;
    color: #CDCDCD;
    font-weight: 0;
    
  }
  .my-list ul li .collection{
    border: 0;
  }
 

/* 我创建与收藏的歌单 */
  .my-create-song .my-create-nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
  }
  .my-create-song .my-create-nav .create-nav-left{
    display: flex;
    align-items: center;
    font-size:32px;
  }
  .my-create-song .my-create-nav .create-nav-left>b{
    font-size: 28px;
    margin-right: 5px;
  }
  .my-create-song .my-create-nav .create-nav-left i{
    font-size: 14px;
    color:#ACACAC;
  }
  .my-create-song .my-create-nav .create-icon{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .my-create-song .my-create-nav .create-icon span{
    font-size: 24px;
    font-weight: 600;
  }
  .my-create-song .my-create-nav .create-icon .icon-jia{
    margin-right: 20px;
    font-weight: 100;
  }
  .my-create .my-create-song .create-song-list ul li{
    display: flex;
    padding: 10px 20px;
  }
  .my-create .my-create-song .create-song-list ul li img{
    width: 80px;
    height: 80px;
  }
  .my-create .my-create-song .create-song-list ul li .create-song-list-right{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
  }
  .my-create .my-create-song .create-song-list ul li .create-song-list-right .create-song-title{
    text-align: left;
    font-size:24px;
  }
  .my-create .my-create-song .create-song-list ul li .create-song-list-right .create-song-title p{
    font-size: 14px;
    color: #929292;
    margin-top: 10px;
  }
  .my-create .my-create-song .create-song-list ul li .create-song-list-right  .create-song-heart{
    border: 1px solid #F0F0F0;
    border-radius: 20px;
    padding: 5px 8px;
    font-size: 20px;
    margin-right: 80px;
    display: flex;
    align-items: center;
  }
  .my-create .my-create-song .create-song-list ul li .create-song-list-right  .create-song-heart span{
    font-size: 12px;
  }
