.my-record{
    padding: 0 10px;
}
.my-record .my-record-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.my-record .my-record-header p{
    font-size: 32px;
}
.my-record .my-record-header .record-goback{
    font-size: 32px;
    display: flex;
    align-items: center;
}
.my-record .my-record-header .record-goback span{
    font-size: 32px;
    margin-right: 25px;
}
.tab-content{
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
}
.tab-content .record-all-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.tab-content .record-all-nav .record-all-nav-play{
    display: flex;
    align-items: center;
    font-size: 24px;
}
.tab-content .record-all-nav span{
    font-size: 28px;
    margin-right: 15px;
}
.tab-content .record-all-nav i{
    font-size: 18px;
    color: silver;
}
.record-all-nav-choose{
    font-size: 20px;
    padding-right: 10px;
    color: #333333;
    font-weight: 100;
}
.tab-content .record-all-nav .record-all-nav-choose .icon-sanheng{
    font-size: 20px;
}
.tab-content ul{
    width: 100%;
}
.tab-content ul li{
    display: flex;
    margin-top: 25px;
    width: 100%;
}
.tab-content ul li img{
    width: 100px;
    height: 100px;
}
.tab-content ul li .record-song{
    width: 100%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}
.tab-content ul li .record-song .record-song-name{
    padding: 15px;
    font-size: 22px;
}
.record-song-creator{
    display: flex;
    color: silver;
    padding-top: 15px;
}
.tab-content ul li .record-song .record-song-creator .icon-duihao{
    font-size: 18px;
    width: 20px;
    text-align: center;
    line-height:20px;
    color: white;
    background: rgba(20, 175, 223, 0.589);
    display: block;
    margin-right: 10px;
    border-radius: 50%;
}
.tab-content ul li .record-song .record-song-creator i{
    font-size: 17px;
}
.tab-content ul li .record-song>span{
    font-size: 34px;
    padding-right: 10px;
}