.song-list{
    display: flex;
    flex-wrap: wrap;
    
}
.my-song-list-header{
    width: 100%;
    padding: 30px;
    /* color: rgb(255, 0, 0); */
    color: white;
    background: #333333;
    position: relative;
}
.my-song-list-header .song-list-header{
     display: flex;
     justify-content: space-between;
}
.my-song-list-header .song-list-header span{
    font-size: 40px;
}
.my-song-list-header .song-list-header .my-goback i{
    font-size: 32px;
    margin-left: 40px;
}
.my-song-list-header .song-list-header .my-song-search .icon-zoom{
    margin-right: 50px;
}
.my-song-list-header .my-user-info {
    display: flex;
    margin-top: 80px;
}
.my-song-list-header .my-user-info img{
    width: 220px;
    border-radius: 8px;
}
.my-song-list-header .my-user-info .my-info-tn{
    width: 100%;
    /* display: flex; */
    flex-wrap: wrap;
    flex-grow: 1;
    margin-left: 30px;
    margin-top: 5px;
}
.my-song-list-header .my-user-info .my-info-tn .my-info-name{
    display: flex;
    align-items: center;
    padding-top:20px;
}
.my-song-list-header .my-user-info .my-info-tn .img-info img{
    border-radius: 50%;
    height: 45px;
    width: 45px;
    margin-right: 15px;
}
.my-song-list-header .my-user-info .my-info-tn .my-name{
    font-size: 18px;
}
.my-song-list-header .my-user-info .my-info-tn .my-name span{
    font-size: 26px;
    color: rgb(156, 155, 150);
}
.my-song-list-header  .my-song-choose ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    padding-top: 50px;
}
.my-song-list-header  .my-song-choose ul li span{
    font-size: 42px;
}
.my-song-list-header  .my-song-choose ul li p{
    font-size: 18px;
    padding:10px 0 ;
    /* margin-bottom: 200px; */
}
.song-list .my-song-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 35px 35px 0 0;
    /* position: absolute;
    bottom: 0; */
    background: white;
    
    z-index: 1;
}
.song-list .my-song-list .my-song-list-nav{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 26px;
}
.song-list .my-song-list .my-song-list-nav .icon-bofang1{
    font-size: 38px;
    margin-right: 20px;
}
.song-list .my-song-list .my-song-list-nav i{
    font-size: 20px;
    color: #b8b1b1;
}
.song-list .my-song-list ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.song-list .my-song-list ul li{
    display: flex;
    width: 100%;
    color: rgb(17, 17, 15);
    margin-bottom: 25px;
}
.song-list .my-song-list ul li>span{
    font-size: 22px;
    padding: 22px 32px;
}
.song-list .my-song-list ul li .song-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.song-list .my-song-list ul li .song-info .song-name p{
    font-size: 22px;
}
.song-list .my-song-list ul li .song-info .song-name .song-creator{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    padding: 10px 0;
}
.song-list .my-song-list ul li .song-info .song-name .song-creator>span{
    border: 1px solid red;
    color: red;
    line-height: 1;
    padding: 0 3px;
    text-align: center;
    display: block;
    margin-right: 8px;
}
.song-list .my-song-list ul li .song-info .song-icon{
    margin-right: 20px;
}
.song-list .my-song-list ul li .song-info .song-icon span{
    font-size: 26px;
}
.song-list .my-song-list ul li .song-info .song-icon>span{
    margin-left: 25px;
}