*{
    padding:0;
    margin:0
}
.t-guan{
    line-height: 100px;;
    width:750px;
    display: flex;
    justify-content:space-evenly;
    font-size: 40px;
    color:rgb(110, 107, 107);
   

}
.t-yin{
    height:15px;
    background:#ccc;
   
}
.t-title{
    display: flex;
    justify-content: space-between;
    margin:30px;
    font-size:40px;
    color:rgb(114, 110, 110);

}
.t-fen {
    margin:40px 30px;
    font-size:30px;
    line-height: 60px;
} 
.t-tou{
    font-size:30px;
    font-family:"微软雅黑";
    display:flex;
    justify-content: left;
    margin:20px auto
}

.t-fen img{
    width:40px;
    height:40;
    margin-right:10px;
}
.t-wen{
    margin-left:60px;
    width:550px;
}
.t-music{
    margin-top:20px;
    margin-left:40px;
    display: flex;
    font-size:30px;
    justify-content: left;
    margin-bottom:100px;
    border:1px solid #ccc;
    padding:15px;
    background:#ccc;
    border-radius: 10px;
}
.t-zhuan{
    width:500px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
}
.t-zhuan i{
    font-size:30px;
}
