.videoEvery{
    margin-bottom: 200px;
}
.videoListen-videoDetail{
    position:relative
}
.videoListen-videoDetail .videoListen-playCount{
    position: absolute;
    top:10px;
    left:10px;
    font-size:10px;
    color:#fff;
}
.videoListen-playCount .iconfont{
    font-size:20px;
}
/* mv */
.videoRecommend{
    padding:20px;
    position: relative;
}
.videoRecommend ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;

}
 .videoRecommend-mvSelectH{
    width:100%;
    font-size:30px;
    font-weight: bold;
    margin-bottom:20px;
}
.videoRecommend-mvSelectH span{
    display: block;
    line-height:30px;
    width:100px;
    text-align:center;
    border:1px solid #ccc;
    border-radius: 15px;
    float:right;
    font-weight: normal;
    font-size:20px
}
.videoRecommend ul li{
    width:48%;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}
.videoRecommend-playCount{
    position:absolute;
    color:#fff;
    top:10px;
    right:10px;
    font-size:20px;
}
.videoRecommend ul li img{
    height:200px;
}





.videoRec-mvDetail{
    position:relative;
}
.videoRec-mvDetail .videoRec-playCount{
    position:absolute;
    top:0;
    left:10px;
    color:#fff;
    font-size:10px;
}
.videoRec-mvDetail .videoRec-duration{
    position:absolute;
    bottom:0;
    right:10px;
    color:#fff;
    font-size:25px;
}
