body,ul,ol,h1,h2,h3,h4,h5,input,p{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none; 
}
li{
	list-style: none; 
}
img{
	border: 0;
	vertical-align: top;  
}
.clearbox:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.clearbox{
	zoom: 1;
}

.swiper-container{
    /* --swiper-theme-color: #ff6600; */
    --swiper-pagination-color: red;/* 两种都可以 */
}


nav{
    margin-top:30px;
}
nav .ull{
    display:flex;
    justify-content:space-between;

}
nav .ull div:nth-child(2){
    color:red;
    width:70%;
    background:#666;
    opacity: 0.3;
    border-radius:32px;
    display: flex;
    align-items: center;
 
}
.adisco{
    margin:0 auto;
}
.mid .nan{
    font-weight:normal;
    font-size:36px;
    margin-left:10px;
    color:black;
}
.midd{
    margin:0 auto;
    font-size:40px;
    color:black;
}
.left,.right{
    font-size:60px;
}
.song{
    color:red;
}
article{
    margin-top:40px;
}
.banner{
    position: relative;
    text-align: center;
}
.banner img{
    /* width:100px; */
    width:710px;
    border-radius: 15px;
}
.rightdown{
    background:rgb(20, 155, 245);
    position:absolute;
    padding:0 20px;
    border-radius: 15px 0 15px 1px;
    right:20px;
    color:#fff;
    bottom:0;
}

aside{
    margin-top:30px
}
.day ul{
    display: flex;
    justify-content: space-around;
    text-align:center;
}
.day ul li i{
    font-size:86px;
    border-radius: 48px;
    background:red;
    color:#fff;
    padding:5px 5px;
}
.day ul li p{
    margin-top:20px;
}
.songs{
    margin-top:40px;
    padding:0 25px;
}
.songs div:nth-child(1){
    color:#666;
    opacity: 0.7;
    font-weight:bold;
}
.songs div:nth-child(2){
    margin-top:5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.songs .pleft{
    font-weight:bold;
    font-size:28px;
   
}
.songs .pright{
    padding:5px 10px;
    border-radius:18px;
    border:2px solid #666;
}
