.backgroundsong{
    background:rgba($color: rgb(169, 209, 24), $alpha: 0.6);
    box-shadow: 10px 10px 4px red;
    width:750px;
    height:100%;
    text-align: center;
    .startsong{
        i{
            font-size:100px;
        }
    }
}
.songdetail{
    display:flex;
    justify-content: space-between;
    padding:10px 30px;
    i{
        font-size:50px;
    }
}