
.swiper-container{
    background:#fff;
    /* position:fixed; */
    top:0;
    border-bottom: 1px solid #eee;
}
.mvList{
    width:750px;
    border:0;
    margin:0;
    padding:0;
    overflow:hidden;

}
.swiper-slide{
    padding:5px;
    margin:0;
}

