*{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.App{
  position: relative;
}
.App nav{
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background: #F0F0F0;
  text-align: center;
  font-size: 24px;
  padding: 0 20px;
  box-sizing: border-box;
}
.App nav span{
  display: block;
  font-size: 60px;
  margin: 20px 0 10px 0;
}
.App nav p{
  padding-bottom: 80px;
}
.App-link {
  color: #B3B3B3;
}
.App-active{
  color:red;
}